.headline
  display: flex
  justify-content: center
  margin: auto
.dialog__edit-photos p
  display: flex
  justify-content: center
  text-align: center
  margin: 40px auto 10px
.dialog__edit-photos button
  display: flex
  margin: 10px auto
.dialog__edit-photos img
  margin-bottom: 20px
.dialog__picker
  display: flex
  flex-direction: column
  align-items: center
  margin: auto
.delete-icon
  display: block
.delete-icon
  span
    margin-left: 5px
.edit-button
  display: block
  flex-grow: 0
  span
    margin-left: 5px
