.donors
  @include container( $col-11, $col-11, $col-9, $max-width: 900px )
  margin: 50px auto 50px auto
  h1
    margin-bottom: 50px
.donors__row
  display: flex
  justify-content: center
  width: 100%
  border-bottom: 1px dashed $color-main
  &--head
    color: $color-dark
    font-weight: bold
  &--got-donations
    background-color: $color-light
    color: $color-dark
    font-weight: bold
  &--need-donations
    background-color: $color-light2
    color: $color-dark2
    font-weight: bold
  &--rest-donations
    background-color: $color-light
    color: $color-dark
    font-weight: bold
.donors__cell
  display: flex
  justify-content: center
  align-items: center
  width: $col-6
  font-size: $font-size-h5
  height: 50px
  text-align: center
