.header
  display: flex
  position: fixed
  font-family: $font-base
  flex-wrap: wrap
  top: 0
  z-index: 6
  width: 100%
  height: 50px
  background-color: #fff
.header__progress
  position: absolute
  top: -20px
  z-index: 7
.header__top
  position: relative
  height: 100%
  @include container( $col-12, $col-11, $col-12 )
  padding: 0 5px
  @include grid
  flex-wrap: nowrap
  z-index: 6
  background-color: #fff
  nav
    width: $col-8
    @include mobile-tab
      display: none
    ul
      display: flex
      flex-wrap: nowrap
      justify-content: space-between
      align-items: center
      width: 100%
      height: 100%
      padding-left: 0
      li
        justify-content: center
        border-bottom: 1px solid $color-main
        color: $color-dark
        text-align: center
        margin: auto
        cursor: pointer
        list-style: none
        @include mobile-tab
          margin-left: 0
        &:hover
          color: $color-main
.header__lang
  display: block
  height: 40px
  width: 80px
.v-input input[aria-label="Language"]
  height: 20px
  width: 10px
.v-list__tile__content .v-list__tile__title
  font-size: $font-size-h6
.v-input
  flex: 0 1 auto
.v-input input
  height: 45px
  max-height: 45px
.side-logo
  display: flex
