.private-projects__project
  margin: auto
  @include container($col-12, $col-10, $col-10, $max-width: 500px)
.private-projects__project-title,
.private-projects__project-date,
.private-projects__project-btn
  text-align: center
.private-projects__project-btn
  width: 100%
.private-projects__project-description
  margin-top: 30px
.private-project
  display: block
.private-projects,
.private-project
  @include container($col-11, $col-11, $col-10, $max-width: 900px)
  margin-top: 100px
.private-project__edit-icons,
.private-project__edit-date
  display: flex
  justify-content: center
  flex-wrap: wrap
  margin-bottom: 50px
.private-project__edit-icons .layout,
.private-project__edit-date .layout
  flex-grow: 0
.private-project__title
  margin: auto
  color: $color-dark
.private-project__desc
  display: flex
  justify-content: center
.private-project__date
  display: flex
  justify-content: center
.private-project__pre-photos
  display: flex
  justify-content: space-between
  @include mobile
    flex-wrap: wrap
.private-project__pre-photo
  width: $col-6
  h4
    min-height: 70px
    color: $color-dark
    margin-top: 20px
  @include mobile
    margin: auto
    width: $col-10
